@charset "utf-08";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

header{
    height: 100vh;

    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 13%;
        padding: 0px 5%;
        background-color: black;

        & #menu{
            width: 400px;
            & ul{
                display: flex;
                justify-content: space-evenly;
            }
            & ul > li{
                color: white;
                list-style: none;
            }
        }
    }
}

#page1{
    height: 90vh;
    padding: 0 10%;
    background-color: black;

    & #texto1{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        color: white;
        border-bottom: 1px solid gray;
         & p{
        width: 50%;
        }
    }

    & #service{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        
        & #site{
            height: 350px;
            width: 250px;
            background-color: lightgray;
        }
    }
   
    
}

#page2{
    height: 90vh;
    padding: 0 10%;

    & h1{
        text-align: center;
        padding-top: 50px;
    }

    & #work{
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .listWork{
            height: 60vh;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        & #pontos{
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
    }
    
}

#page3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    height: 90vh;

    & #info{
        width: 40%;

        & #info-a{
            
        }
    }

}
